@charset "utf-8";

/* main */
main {
  /* height: 132vw; */
  /* max-height: 504px;
  min-height: 432px; */
  /* background: powderblue; */
}
.title {
  font-size: 4.5vw;
  line-height: 5.5vw;
  color: #000000;
  font-weight: 800;
  margin-bottom: 3.5vw;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
main ul a {
  text-decoration: underline;
  font-size: 3vw;
  color: rgba(0, 0, 0, 0.5);
}
main i {
  color: #5F92F2;
  font-size: 2vw;
  line-height: 3.5vw;
  vertical-align: middle;
}
.emphasize {
  color: black;
}
.fullLink {
  margin-bottom: 5vw;
}
