@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&family=Roboto:wght@700&display=swap');

html {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  width: 100vw;
  height: 200vw;
  margin: 0;
  /* max-width:400px;
  max-height: 800px; */
}
a {
  text-decoration:none;
  color: inherit;
}
label, input {
	display: inline-block;
}

/*sidebar*/
#sidebar {
  display:none;
}
#closeButton {
  float: right;
  margin: 5vw 6vw 0 0;
  width: 5.7vw;
  height: 5.7vw;
}
#closeButton>label {
  width: inherit;
  height: inherit;
  font-size: 5.7vw;
  line-height: 5.7vw;
  text-align: center;
  color: #696C76;
}
.sidebar_content {
  position:fixed;
  top:0;
  right:-100vw;
  width:80vw;
  height:100%;
  background: #FFFFFF;
  transition:all .35s;
  z-index:5;
}
.sidebar_content > ul {
  margin: 25vw 0 0 0;
  padding: 0 6vw;
}
.sidebar_content > ul > li {
  width: 68vw;
  height: 16vw;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  list-style:none;
}
.sidebar_content > ul > li > a {
  width: inherit;
  height: 16vw;
  color: rgba(0, 0, 0, 0.5);
  font-size: 3vw;
  line-height: 16vw;
  padding: 0;
  margin: 0;
}
.sidebar_content > ul > li > a > i {
  color: #5F92F2;
  font-size: 5vw;
  line-height: 16vw;
  margin-right: 5vw;
}
#feedbackLi {
  position: absolute;
  bottom: 10vw;
}
#feedbackLi > label {
  color: rgba(0, 0, 0, 0.5);
  line-height: 16vw;
  background: none;
  border: 0 solid;
  font-size: 3vw;
}
#feedbackLi > label > i {
  color: #5F92F2;
  font-size: 5vw;
  line-height: 16vw;
  margin-right: 5vw;
}
.background {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100%;
  background:rgba(0,0,0,.6);
  transition:all .35s;
  opacity:0;
  visibility:hidden;
  z-index:1;
}
#contactBg {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100%;
  background:rgba(0,0,0,.6);
  transition:all .35s;
  opacity:0;
  visibility:hidden;
  z-index:6;
}
input#sidebar:checked ~ .sidebar_content {
  right:0;
}
input#sidebar:checked ~ .background {
  opacity:1;
  visibility:visible;
}
#menuButton {
  float: right;
  margin: 3vw 6vw 0 0;
  width: 5.7vw;
  height: 5.7vw;
}
#menuButton>label {
  width: inherit;
  height: inherit;
  font-size: 5.7vw;
  line-height: 5.7vw;
  text-align: center;
  color: #696C76;
}

/* container */
.container {
  width: 88vw;
  /* max-width: 420px;
  min-width: 360px; */
  height: 195vw;
  /* max-height: 840px;
  min-height: 720px; */
  margin:auto;
  padding: 4vw 6vw 5vw;
}

/* header */
header {
  /* height: 17vw; */
  /* max-height: 168px;
  min-height: 144px; */
  /* background: gray; */
}
#logo {
  height: 5vw;
  font-size: 5vw;
  line-height: 5vw;
  color: #727272;
  font-weight: 800;
  margin-bottom: 3vw;
}
#logoBlue {
  color: #5F92F2;
}
#upDate {
  /* height: 4vw; */
  font-size: 2.5vw;
  /* line-height: 4vw; */
  color: #BEBEBE;
  font-weight: 700;
  /* float: right;
  margin-right: 6vw; */
  /* position: absolute;
  top: 5.5vw;
  right: 14vw; */
}
#regionList {
  font-size: 6vw;
  line-height: 8vw;
  border: 0;
  font-weight: 800;
  background: none;
  /* display: none; */
  padding: 0;
  /* vertical-align: middle; */
}
#regionList option {
  padding: 0;
}
#region {
  height: 8vw;
  margin-bottom: 1vw;
}
#mainTitle {
  height: inherit;
  font-size: 6vw;
  line-height: 8vw;
  color: #000000;
  font-weight: 800;
  /* float: left; */
  display: none;
}
#mainTitle2 {
  height: inherit;
  font-size: 6vw;
  line-height: 8vw;
  color: #000000;
  font-weight: 800;
  /* display: none; */
}
#nationWide {
  color: rgba(0, 0, 0, 0.25);
  font-size: 2.5vw;
}

/* footer */
footer {
  /* height: 36vw; */
  /* max-height: 168px;
  min-height: 144px; */
  overflow: auto;
  text-align: center;
}
#shareNcontact {
  margin: 4vw auto 0;
  height: 7vw;
  margin-bottom: 3.5vw;
}
.sNc {
  width: 20vw;
  background: white;
  height: 7vw;
  font-size: 2.5vw;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0px 0.3px 2px rgba(0, 0, 0, 0.15));
  border-radius: 13.5px;
  line-height: 6.5vw;
}
#shareButton {
  float: left;
  margin-left: 22vw;
  font-weight: 400;
}
#contactButton {
  float: right;
  margin-right: 22vw;
}
#dev {
  font-size: 3vw;
  font-weight: 800;
  margin-bottom: 2.5vw;
  color: rgba(0, 0, 0, 0.6);
}
#kg {
  color: #000000;
}
#warning {
  font-size: 2vw;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
input.popup {
  display: none;
}
.popupBox {
  position: fixed;
  left: 7.5%;
  z-index: 100;
  background: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
#contactPopupBox {
  width: 85vw;
  height: 41vw;
  padding-top: 4vw;
  top: 35%;
}
#sharePopupBox {
  width: 85vw;
  height: 70vw;
  top: 30%;
}
#sharePopupBox, #contactPopupBox {
  display: none;
}
input#sharePopup:checked ~ #sharePopupBox {
  display: block;
}
input#sharePopup:checked ~ #shareBg {
  opacity:1;
  visibility:visible;
}
input#contactPopup:checked ~ #contactPopupBox {
  display: block;
}
input#contactPopup:checked ~ #contactBg {
  opacity:1;
  visibility:visible;
}
#sharePopupBox button {
  border: none;
}
.share-box {
  width: 65vw;
  height: 7.5vw;
  background: #F3F3F3;
  border-radius: 15px;
  margin: 0 auto;
  padding: 0 4vw;
  border: none;
}
.share-adress {
  font-size: 3vw;
  line-height: 7vw;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  text-align: left;
  float:left;
}
.share-box > i {
  float: right;
  border: none;
  font-size: 3.5vw;
  line-height: 7.5vw;
  background: none;
  color: #333333;
}

.contact-title {
  font-size: 3.5vw;
  line-height:3.5vw;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 6.5vw;
  font-weight: 800;
}
.contact-message {
  font-size: 3vw;
  line-height: 3vw;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 6vw;
}
.contact-copy {
  font-size: 3.5vw;
  line-height:3.5vw;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 3vw;
  font-weight: 800;
}
.contact-box {
  width: 65vw;
  height: 7.5vw;
  background: #F3F3F3;
  border-radius: 15px;
  margin: 0 auto;
  padding: 0 4vw;
  border: none;
}
.contact-adress {
  font-size: 3vw;
  line-height: 7vw;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  text-align: left;
  float:left;
}
.contact-box > i {
  float: right;
  border: none;
  font-size: 3.5vw;
  line-height: 7.5vw;
  background: none;
  color: #333333;
}
