@charset "utf-8";

/* main */
main {
  /* height: 132vw; */
  /* max-height: 504px;
  min-height: 432px; */
  /* background: powderblue; */
}
.row-first {
  height: 50vw;
  margin-bottom: 9vw;
}
.numPeople>.title {
  font-size: 4.5vw;
  line-height: 5.5vw;
  color: #000000;
  font-weight: 800;
  margin-bottom: 3.5vw;
}
.numPeople>.box {
  height: 41vw;
  background: rgba(243, 243, 243, 0.6);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
  overflow: auto;
  padding: 0 6vw 0;
}
.numPeople .top {
  font-size: 3vw;
  line-height: 3.5vw;
  margin: 6vw 0 5vw;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.7);
}
.numPeople .main {
  height: 10vw;
  font-size: 3vw;
  line-height: 3.5vw;
  margin: 0 0 5vw;
  font-weight: 800;
}
.number {
  font-size: 8vw;
  line-height: 10vw;
}
.numPeopleImg {
  position: absolute;
  right: 8vw;
  top: 8vw;
  /* width: 30vw;
  height: auto; */
  font-size: 17vw;
  color: #5F92F2;
}
.more {
  height: 6vw;
  width: 21.5vw;
}
.moreButton{
  width: 21.5vw;
  height: 6vw;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.75);
  border: 0.26vw solid #5F92F2;
  font-size: 2.5vw;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}
.moreButton .fa-circle-plus {
  color: #5F92F2;
  font-size: 3vw;
}
.box-more {
  position: relative;
  height: inherit;
  width: inherit;
  background: rgba(255, 255, 255, 0.75);
  border: 0.26vw solid #5F92F2;
  border-radius: 14px;
  font-size: 2.5vw;
  line-height: 6vw;
  padding-left: 4.5vw;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}
.row-second {
  /* background: orange; */
  height: 56vw;
}
.partition {
  height: 56vw;
  width: 40vw;
  /* background: lightgreen; */
  float: left;
}
.openTime {
  margin-right: 4vw;
}
.passOnOff {
  margin-left: 4vw;
}
.row-second .title {
  height: 5.5vw;
  font-size: 4.5vw;
  line-height: 5.5vw;
  color: #000000;
  font-weight: 800;
  margin-bottom: 3.5vw;
}
.row-second .box {
  height: 47vw;
  background: rgba(243, 243, 243, 0.6);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
  padding: 0 4.5vw;
  overflow: auto;
}
.row-second .more {
  margin: 0 auto;
}
.openTime .top, .passOnOff .top {
  font-size: 3vw;
  line-height: 3.5vw;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 800;
}
.openTime .top {
  margin: 4vw 0 3vw;
}
.openTimeImg {
  font-size: 10vw;
  line-height: 10vw;
  /* width: 10vw;
  height: 10vw; */
  margin: 0 auto 2.5vw;
  color: #5F92F2;
}
.openTime .main {
  font-size: 8vw;
  line-height: 9vw;
  margin-bottom: 2vw;
  color: #000000;
  font-weight: 800;
}
hr {
  color: rgba(0, 0, 0, 0.1);
  margin: 0 0 2vw;
  border: none;
  height: 2px;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  background: rgba(0, 0, 0, 0.1);
}

.passOnOff .top {
  margin: 2.5vw 0 2vw;
}
.passOnOffImg {
  font-size: 10vw;
  line-height: 10vw;
  /* width: 10.8vw;
  height: 6vw; */
  margin: 0 auto 2vw;
  color: #5F92F2;
}
.passOnOff .main {
  font-size: 8vw;
  line-height: 9vw;
  margin-bottom: 2vw;
  color: #000000;
  font-weight: 800;
}
