@charset "utf-8";

/* main */
main {
  /* height: 132vw; */
  /* max-height: 504px;
  min-height: 432px; */
  /* background: powderblue; */
}
.title {
  font-size: 4.5vw;
  line-height: 5.5vw;
  color: #000000;
  font-weight: 800;
  margin-bottom: 3.5vw;
}
.top {
  display: inline-block;
  font-size: 3vw;
  line-height: 5.5vw;
  height: 5.5vw;
  background: #5F92F2;
  border-radius: 44px;
  margin-bottom: 2.5vw;
  color: white;
  padding: 0.5vw 2vw;
  font-weight: 800;
}
.main {
  margin-bottom: 3vw;
}
.row-third .main {
  margin-bottom: 0;
}
.row-first .main div {
  border: 1px solid #5F92F2;
  color: #5F92F2;
  background: none;
}
.main div {
  display: inline-block;
  font-size: 3vw;
  line-height: 5.5vw;
  height: 5.5vw;
  background: rgba(243, 243, 243, 0.6);  border-radius: 44px;
  margin-bottom: 2vw;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.5vw 2vw;
  font-weight: 800;
}
.notice {
  font-size: 3vw;
  color: rgba(0, 0, 0, 0.5);
  line-height: 5vw;
  margin-bottom: 3vw;
  font-weight: 800;
}
hr {
  color: rgba(0, 0, 0, 0.1);
  margin: 0 0 4vw;
  border: none;
  height: 1px;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  background: rgba(0, 0, 0, 0.1);
}
.emphasize {
  color: black;
}
