@charset "utf-8";

/*version*/
#version {
  height: 10vw;
  background: #F3F3F3;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  padding: 0;
  margin-bottom: 5vw;

}
#soonBox {
  display: none;
}
#nowBox {
  height: 10vw;
  width: 88vw;
  border-radius: 11px;
  float: left;
  color: #FFFFFF;
  background: #5F92F2;
}
#now {
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 10vw;
  font-size: 3.5vw;
  font-weight: 700;
}
.tabMenu {
  height: inherit;
}
.tabCon1 {
  height: inherit;
}
.tabCon2 {
  display: none;
}
input{
  display:none;
}
